{{ ansible_managed | comment }}
[Unit]
Description=Back up to the restic repository
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/backup-run
Nice=10
IOSchedulingClass=idle
